:root {
    --background-negro:#10202D;
    --background-blanco:#ffff;
    --background-gris:#2d3a44;
    --background-lila:#752CD2;
    --color-f-derecho:red;
    --color-f-educacion:blue;
    --color-f-economia:green;
    --color-f-ingenieria:purple;
    --color-f-arquitectura:white;
    --letra:'Roboto', sans-serif;
}


