.nav-elements {
    margin: 5%;
}

.nav-filters {
    display: flex;
    justify-content: space-around;
    color: var(--background-blanco);
    flex-wrap: wrap;
    flex-grow: 5;
}

.nav-filters il {
    cursor: pointer;
    width: 150px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid var(--background-blanco);
}

.nav-filters il:hover {
    transition: 0.5s;
    border-bottom: 1px solid var(--background-lila);
}

