.footer-id {
    border-top: 1px solid var(--background-blanco);
    margin-top: 6%;
    padding: 2%;
    color: var(--background-blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
}

.footer-id img {
    margin: 10px 0;
}

.whats {
    background: var(--background-blanco);
    border: 1px solid var(--background-blanco);
    border-radius: 100%;
}

.whats:hover {
    transition: 0.5s;
    border: 1px solid green;
}

.footer-id p{
    margin-bottom: 10px;
}