.footer-id {
    border-top: 1px solid var(--background-blanco);
    margin-top: 10%;
    padding: 2%;
    color: var(--background-blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
}

.footer-id img {
    margin: 10px 0;
}