body {
    background-color: var(--background-negro);
}

.header-elements a{
    background-color: var(--background-negro);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-elements img{
    width: 50%;
    object-fit: cover;
}



