.nav-elements {
    margin: 5%;
    align-items: center;
    color: var(--background-blanco);
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav il {
    display: flex;
    flex-wrap: wrap;
    
}

.nav h1{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.nav a {
    color: var(--background-blanco);
    border-bottom: 1px solid var(--background-blanco);
    padding: 10px;
    border-radius: 2px;
}

.nav a:hover {
    transition: 0.5s;
    border-bottom: 1px solid var(--background-lila);
}

