.nav-elements {
    margin: 5%;
    align-items: center;
    color: var(--background-blanco);
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.nav il {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 60px;
    color: var(--background-blanco);
    border-bottom: 1px solid var(--background-blanco);
    border-radius: 2px;
    padding: 0 12px;
    text-align: left;

}

.nav img {
    width: 40px;
    height: 40px;
    padding-right: 20px;
}

.nav il:hover {
    transition: 0.5s;
    border-bottom: 1px solid var(--background-lila);
}

