:root {
    --letra: 'Roboto Condensed', sans-serif;
}

.ene-body {
    height: 100%;
    background: #faf9f9;
    background: linear-gradient(180deg, rgba(94, 85, 85, 1) 0%, rgba(240, 238, 238, 1) 100%);
    color: #5e5555;
    font-family: var(--letra) 
}

.header-ene{
    width: 100%;
    height: 130px;
    background-color: #faf9f9e3;
    background-image: url(../img/literatura.png);
    background-size: contain;
    background-position: center;
    background-repeat: repeat-x;
    position:fixed;

}

.header-ene-banner {
    display: flex;;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 20px;
}

.header-ene-banner h1{
    padding: 0 10px;
    margin: 0;
    font-size: 35px;
}

.header-inicio {
    background-color: #00B18D;
    padding: 5px 20px;
    color: #ffff;
    border-radius: 20px;
    font-size: 10px;
    font-weight: 500;
    box-shadow: 0.2em 0.2em 0.2em #dafff8;
}

.header-inicio:hover {
    background-color: #5e5555;
    padding: 5px 20px;
    color:  #ffff;
}


.all-books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 160px 5% 5% 5%;
    gap: 30px;
}


.books {
    width: 32rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcfcfcea;
    border-radius: 30px;
    gap: 10px;
    box-shadow: 0 5px 15px rgba(179, 179, 179, 0.644);
    border: 1px dashed #5e5555;
}


.books {
    box-shadow: 0.2em 0.2em 0.2em #00b18e86;
}

.books:hover {
    box-shadow: 0.2em 0.2em 0.2em #00b18e;
}

.books img {
    width: 40%;
    height: 300px;
    margin: 10px;
    border-radius: 20px;
    object-fit:fill;

}

.books-details {
    width: 60%;
    padding: 30px;
    box-sizing: border-box;
    justify-content: space-between;
}


.books-details h2 {
    font-size: 18px;
    font-family: var(--letra);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 2;
    overflow: hidden;
    box-sizing: border-box;
}

.books-details h2:hover {
    transition: 0.8s;
    display: block;
}


.books-details h3 {
    font-size: 14px;
    font-family: var(--letra);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    box-sizing: border-box;
}

.books-details h3:hover {
    transition: 0.8s;
    display: block;
}

.books-details p {
    font-size: 12px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    overflow: hidden;
    box-sizing: border-box;
}

.books-details p:hover {
    transition: 1s;
    display: block;
}

.button-acceso {
    text-decoration: none;
    list-style-type: none;
    background-color: #6d5c5d;
    color: #ffff;
    width: 100px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    font-size: 12px;
    margin-top: 25px;
    box-shadow: 0.2em 0.2em 0.2em #c5c4c4ad;

}

.button-acceso a {
    font-weight: 500;
}

.button-acceso:hover {
    background-color: #00B18D;
    border: #00B18D;
}

.button-acceso:hover a {
    color: var(--background-blanco);
}


@keyframes aparecer {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.all-books[data-novedades] {
    animation: aparecer 1.5s ease-out;
}

@media screen and (max-width: 1200px) {
    .books {
        width: 25rem;
    }
}

@media screen and (max-width: 590px) {
    .header-ene{
        height: 100px;
    }

    .header-ene-banner h1{
        transition: 0.4s;
        font-size: 18px;
        padding-top: 20px;
    }


    .all-books {
        transition: 0.4s;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .all-books div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .books {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 250px;
        border-radius: 20px;
        height: 100%;
    }

    .books-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .books img {
        width: 100%;
        margin: 0;
        padding: 0;
        display: initial;
    }

    .books-details h2 {
        font-size: 16px;
        margin-top: 10px;
    }

    .books-details h3 {
        font-size: 14px;
    }

    .books-details p {
        font-size: 12px;
        margin: 0 20px;
    }

    .button-acceso {
        font-size: 12px;
        margin: 20px;
    }
}


@media screen and (max-width: 400px) {


    .books-details h2 {
        font-size: 14px;
        margin-top: 10px;
    }

    .books-details h3 {
        font-size: 14px;
    }

    .books-details p {
        display: none;
    }

    .button-acceso {
        font-size: 8px;
    }
}