.sep-body-nov {
    height: 100%;
}

.header-sep {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background-image: url(../img/positivo.png);
    background-size: cover;
    background-color: #ffff;
    border-bottom: 1px solid #24A638;
}

.header-sep img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.header-sep {
    background-image: url("../img/ban.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.menu-img-1 {
    margin: 6px;
    padding: 2px;
}

.menu-img-1:hover {
    transition: 0.2s;
    background-color: #ffff;
    border-radius: 100%;
}

.header-sep a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-books {
    margin: 3%;
    padding-top: 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.all-books div {
    margin: 2% 0;
}

.books {
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcfcfcea;
    border-radius: 30px;
    gap: 10px;
    box-shadow: 0 5px 15px rgba(179, 179, 179, 0.644);
}


.books:hover {
    box-shadow:
        inset 0 -1em 2em rgba(9, 255, 103, 0.336),
        0.3em 0.3em 1em #24A638;
}

.books img {
    width: 40%;
    height: 300px;
    margin: 10px;
    border-radius: 20px;
    object-fit: cover;

}

.books-details {
    width: 60%;
    padding: 20px;
    box-sizing: border-box;
}


.books-details h2 {
    font-size: 22px;
    font-family: var(--letra);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    box-sizing: border-box;
}

.books-details h2:hover {
    transition: 0.8s;
    display: block;
}


.books-details h3 {
    font-size: 16px;
    font-family: var(--letra);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    box-sizing: border-box;
}

.books-details h3:hover {
    transition: 0.8s;
    display: block;
}

.books-details p {
    font-size: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    overflow: hidden;
    box-sizing: border-box;
}

.books-details p:hover {
    transition: 1s;
    display: block;
}

.button-acceso {
    text-decoration: none;
    list-style-type: none;
    width: 100px;
    padding: 5px;
    text-align: center;
    border: 1px solid var(--background-negro);
    border-radius: 5px;
    font-size: 12px;
    margin-top: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .06);
}

.button-acceso a {
    color: var(--background-negro);
    font-weight: bolder;
}

.button-acceso:hover {
    background-color: #24A638;
    border: #24A638;
}

.button-acceso:hover a {
    color: var(--background-blanco);
}


@keyframes aparecer {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.all-books[data-novedades] {
    animation: aparecer 1.5s ease-out;
}

@media screen and (max-width: 1270px) {
    .all-books {
        margin: 3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


@media screen and (max-width: 530px) {

    .header-sep {
        width: 100%;
    }

    .header-sep img {
        width: 100%;
    }

    .all-books {
        margin: 3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .all-books div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .books {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 230px;
        border-radius: 20px;
        height: 100%;
    }

    .books-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .books img {
        width: 100%;
        margin: 0;
        padding: 0;
        display: initial;
    }

    .books-details h2 {
        font-size: 16px;
        margin-top: 10px;
    }

    .books-details h3 {
        font-size: 14px;
    }

    .books-details p {
        font-size: 12px;
        margin: 0 20px;
    }

    .button-acceso {
        font-size: 12px;
        margin: 20px;
    }
}


@media screen and (max-width: 400px) {


    .books-details h2 {
        font-size: 14px;
        margin-top: 10px;
    }

    .books-details h3 {
        font-size: 14px;
    }

    .books-details p {
        display: none;
    }

    .button-acceso {
        font-size: 8px;
    }
}