:root {
    --background-negro:#151314;
    --background-blanco:#faf9f9;
    --letra:'Roboto', sans-serif;
}


body, html {
    width: 100%;
    height: 100%;
    background-color: #4c4041;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #594b4c;
    font-family: var(--letra);
}


.container { 
    width: 100%;
    height: 100%; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
    grid-auto-flow: 20px;
  }
  
.grid-banner { 
    grid-column: span 4;
    grid-row: span 3;
    display: flex;

}

.grid-banner img{ 
    width: 100%;
    border-radius: 10px;
}
  
  
.grid-categoria1 {
    display: flex;
    grid-column: span 6;
    background-color:var(--background-blanco);
    border-radius: 10px ;
}

.grid-whats { 
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--background-blanco);
    border-radius: 10px;
    padding: 20px 0;
}

.grid-whats a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #594b4c;
    gap: 15px;
    font-weight: bold;
    text-align: center;
    height: 100%;
}
  
.grid-categoria3 {
    display: flex; 
    grid-column: span 4;
    grid-row: span 1;
    background-color:var(--background-blanco);
    border-radius: 10px ;
}
  
.grid-categoria2 {
    display: flex;
    grid-column: span 4;
    background-color:var(--background-blanco);
    border-radius: 10px;
}
  
.grid-categoria4 {
    display: flex; 
    grid-column: span 5;
    background-color:var(--background-blanco);
    border-radius: 10px ;
}
  
.grid-categoria5 {
    display: flex; 
    grid-column: span 3;
    background-color:var(--background-blanco);
    border-radius: 10px;
}


.categoria {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin: 25px;
    gap: 15px;
}

.categoria-img {
    width: 110px;
    padding: 20px;
}

.whats-img {
    width: 25%;
}

.categoria-components {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}



.categoria-components h2{
    font-size: 28px;
    font-weight: bolder;
    margin: 0
}

.categoria-components p{
    font-size: 14px;
}

.categoria-components a {
    width: 130px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.grid-categoria1:hover {
    transition: 0.1s;
    animation: myAnim 2s ease 0s 1 normal forwards;
    background-color: #ffff;
    border: 3px solid #00B18D;
}
.grid-categoria2:hover {
    transition: 0.1s;
    animation: myAnim 2s ease 0s 1 normal forwards;
    background-color: #ffff;
    border: 3px solid #00B18D;
}
.grid-categoria3:hover {
    transition: 0.1s;
    animation: myAnim 2s ease 0s 1 normal forwards;
    background-color: #ffff;
    border: 3px solid #00B18D;
}
.grid-categoria4:hover {
    transition: 0.1s;
    animation: myAnim 2s ease 0s 1 normal forwards;
    background-color: #ffff;
    border: 3px solid #00B18D;
}
.grid-categoria5:hover {
    transition: 0.1s;
    animation: myAnim 2s ease 0s 1 normal forwards;
    background-color: #ffff;
    border: 3px solid #00B18D;
}

.grid-whats:hover{
    transition: 0.1s;
    animation: myAnim 2s ease 0s 1 normal forwards;
    cursor: pointer;
    background-color: #ffff;
    border: 3px solid #00B18D;
}


.categoria-components a > p {
    color: var(--background-negro);
    font-weight: bold;
    font-size: 12px;
}

.categoria-components a:hover {
    transition: 0.1s;
    animation: myAnim 2s ease 0s 1 normal forwards;
    cursor: pointer;
    border-bottom: 2px solid #00B18D;
    padding-bottom: 2px;
}

@media screen and (max-width: 1238px) {

    .grid-categoria1 {
        grid-column: span 6;
    }
    .grid-categoria3 {
        grid-column: span 6;
    }

    .grid-categoria5 {
        grid-column: span 5;
    }

    .grid-categoria2 {
        grid-column: span 4;
    }


}

@media screen and (max-width: 1048px) {

    .categoria-components h2{
        font-size: 20px;
    }
    .grid-categoria1 {
        grid-column: span 3;
    }
    .grid-categoria2 {
        grid-column: span 5;
    }

    .grid-categoria3 {
        grid-column: span 5;
    }

    .grid-categoria4 {
        grid-column: span 5;
    }

    .grid-categoria5 {
        grid-column: span 4;
    }
}

@media screen and (max-width: 1030px) {
    .grid-categoria1 {
        grid-column: span 3;
    }
    .grid-categoria2 {
        grid-column: span 2;
    }

    .grid-categoria3 {
        grid-column: span 3;
    }

    .grid-categoria4 {
        grid-column: span 3;
    }

    .grid-categoria5 {
        grid-column: span 2;
    }

    .categoria-components h2{
        font-size: 18px;
    }

    .categoria-components p{
        font-size: 12px;
    }

    #grid-categoria2 .categoria-img {
        display: none;
    }
    #grid-categoria5 .categoria-img {
        display: none;
    }
}

@media screen and (max-width: 940px) {
    .grid-banner {
        grid-row: span 2;
    }

    .grid-categoria4 {
        grid-column: span 5;
    }

    .grid-categoria5 {
        grid-column: span 4;
    }
}

@media screen and (max-width: 925px) {
    .grid-categoria1 {
        grid-column: span 4;
    }
    .grid-categoria2 {
        grid-column: span 2;
    }

    .grid-categoria3 {
        grid-column: span 3;
    }

    .grid-categoria4 {
        grid-column: span 3;
    }

    .grid-categoria5 {
        grid-column: span 2;
    }
}

@media screen and (max-width: 830px) {
    .grid-banner {
        grid-column: span 2;
    }

    .grid-categoria1 {
        grid-column: span 3;
    }
    
    .grid-whats{
        grid-column: span 2;
    }

    .grid-categoria2 {
        grid-column: span 2;
    }

    .grid-categoria3 {
        grid-column: span 3;
    }

    .grid-categoria4 {
        grid-column: span 3;
    }

    .grid-categoria5 {
        grid-column: span 4;
    }
    #grid-categoria5 .categoria-img {
        display: flex;
    }
}

@media screen and (max-width: 735px) {
    .grid-categoria1 {
        grid-column: span 4;
    }
    
    .grid-whats{
        grid-column: span 1;
    }

    .grid-categoria2 {
        grid-column: span 3;
    }

    .grid-categoria3 {
        grid-column: span 2;
    }

    .grid-categoria4 {
        grid-column: span 4;
    }

    .grid-categoria5 {
        grid-column: span 3;
    }

    #grid-categoria2 .categoria-img {
        display: flex;
        width: 100px;
    }

}

@media screen and (max-width: 720px) {
    .grid-categoria1 {
        grid-column: span 4;
    }
    
    .grid-whats{
        grid-column: span 1;
    }

    .grid-categoria2 {
        grid-column: span 3;
    }

    .grid-categoria3 {
        grid-column: span 2;
    }

    .grid-categoria4 {
        grid-column: span 2;
    }

    .grid-categoria5 {
        grid-column: span 2;
    }

    #grid-categoria5 .categoria-img {
        display: none;
    }

    #grid-categoria4 .categoria-img {
        display: none;
    }
    #grid-categoria3 .categoria-img {
        display: none;
    }
}

@media screen and (max-width: 620px) {

    .categoria-components h2{
        font-size: 16px;
    }

    .grid-banner {
        grid-column: span 2;
    }
    .grid-categoria1 {
        grid-column: span 3;
    }
    
    .grid-whats{
        grid-column: span 1;
    }

    .grid-categoria2 {
        grid-column: span 2;
    }

    .grid-categoria3 {
        grid-column: span 3;
    }

    .grid-categoria4 {
        grid-column: span 2;
    }

    .grid-categoria5 {
        grid-column: span 5;
    }

    #grid-categoria5 .categoria-img {
        display: flex;
    }

    #grid-categoria3 .categoria-img {
        display: flex;
    }
    #grid-categoria2 .categoria-img {
        display: none;
    }
}

@media screen and (max-width: 525px) {

    .grid-banner {
        grid-column: span 2;
        grid-row: span 1;
    }
    .grid-categoria1 {
        grid-column: span 2;
    }
    
    .grid-whats{
        grid-column: span 2;
    }

    .grid-categoria2 {
        grid-column: span 2;
    }

    .grid-categoria3 {
        grid-column: span 4;
    }

    .grid-categoria4 {
        grid-column: span 2;
    }

    .grid-categoria5 {
        grid-column: span 2;
    }

    #grid-categoria5 .categoria-img {
        display: none;
    }

    #grid-categoria1 .categoria-img {
        display: none;
    }
}

@media screen and (max-width: 430px) {
    .grid-banner {
        grid-column: span 3;
    }

    .grid-categoria1 {
        grid-column: span 3;
    }
    
    .grid-whats{
        grid-column: span 3;
    }

    .grid-categoria2 {
        grid-column: span 3;
    }

    .grid-categoria3 {
        grid-column: span 3;
    }

    .grid-categoria4 {
        grid-column: span 3;
    }

    .grid-categoria5 {
        grid-column: span 3;
    }

    #grid-categoria1 .categoria-img {
        display: flex;
    }

    .whats-img {
        width: 15%;
    }

    #grid-categoria2 .categoria-img {
        display: flex;
    }

    #grid-categoria4 .categoria-img {
        display: flex;
    }
    #grid-categoria5 .categoria-img {
        display: flex;
    }
}

@media screen and (max-width: 335px) {
    .grid-banner {
        grid-column: span 2;
    }

    .grid-categoria1 {
        grid-column: span 2;
    }
    
    .grid-whats{
        grid-column: span 2;
    }

    .grid-categoria2 {
        grid-column: span 2;
    }

    .grid-categoria3 {
        grid-column: span 2;
    }

    .grid-categoria4 {
        grid-column: span 2;
    }

    .grid-categoria5 {
        grid-column: span 2;
    }

    .categoria h2 p {
        font-size: 10px;

    }

}

@media screen and (max-width: 325px) {
    #grid-categoria1 .categoria-img {
        width: 80px;
    }
    #grid-categoria2 .categoria-img {
        width: 80px;
    }
    #grid-categoria3 .categoria-img {
        width: 80px;
    }
    #grid-categoria4 .categoria-img {
        width: 80px;
    }
    #grid-categoria5 .categoria-img {
        width: 80px;
    }

}






