:root {
    --background-negro:#151314;
    --background-blanco:#ffff;
    --background-gris:#2d3a44;
    --background-lila:#9fbe37;
    --color-f-derecho:#76150C;
    --color-f-educacion:#018BBA;
    --color-f-economia:#BA6B2D;
    --color-f-ingenieria: #533014;
    --color-f-arquitectura:#5F2718;
    --letra:'Roboto', sans-serif;
}


body, html {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container { 
    width: 100%;
    height: 100%; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 3fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
    grid-auto-flow: 5rem;
  }
  
.grid-banner { 
    grid-column: span 4;
    grid-row: span 3;
    display: flex;

}

.grid-banner img{ 
    width: 100%;
    border-radius: 10px;
}
  
  
.grid-categoria1 {
    display: flex;
    grid-column: span 6;
    background-color:var(--background-blanco);
    border-radius: 10px ;
}

.grid-whats { 
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--background-blanco);
    border-radius: 10px;
}

.grid-whats a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    gap: 15px;
    font-weight: bold;
    text-align: center;

}
  
.grid-categoria3 {
    display: flex; 
    grid-column: span 4;
    grid-row: span 1;
    background-color:var(--background-blanco);
    border-radius: 10px ;
}
  
.grid-categoria2 {
    display: flex;
    grid-column: span 4;
    background-color:var(--background-blanco);
    border-radius: 10px;
}
  
.grid-categoria4 {
    display: flex; 
    grid-column: span 5;
    background-color:var(--background-blanco);
    border-radius: 10px ;
}
  
.grid-categoria5 {
    display: flex; 
    grid-column: span 3;
    background-color:var(--background-blanco);
    border-radius: 10px;
}


.categoria {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 25px;
    gap: 15px;
}

.categoria-img {
    width: 90px
}

.whats-img {
    width: 25%;
}

.categoria-components {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}



.categoria-components h2{
    font-size: 20px;
    font-weight: bolder;
    margin: 0
}

.categoria-components p{
    font-size: 14px;
}

.categoria-components a {
    width: 130px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.categoria-components a:hover {
    transition: 0.1s;
    border-bottom: 2px solid #5BD9D9;
    animation: myAnim 2s ease 0s 1 normal forwards;
}


.categoria-components a > p {
    color: var(--background-negro);
    font-weight: bold;
    font-size: 12px;
}


