<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="/_vercel/insights/script.js"></script>



    <link rel="stylesheet" href="../css/resert.css">
    <link rel="stylesheet" href="../css/colores.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/novedades.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
    <title>¡Derecho, Ciencias Políticas y Sociales!</title>
</head>

<body>
    <main>

        <header class="header-elements-section" id="title-categoria">
            <a class="header-banner-section" href="/index.html"><img src="../img/banner.png" alt="banner"></a>
            <h2 class="header-title-section">Derecho y Ciencias Políticas y Sociales</h2>
        </header>
        <div class="menu-io">
            <a href="../index.html"><img src="../2023-08/img/menu.png" alt="menú"></a>
        </div>

        <section class="all-books" data-novedades>
        </section>

    </main>
    <script src="../service/derecho.js"></script>
</body>

</html>
