<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/resert.css">
    <link rel="stylesheet" href="../css/colores.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
    <title>¡Filtros!</title>
</head>

<body>
        <section class="nav-elements" id="nav-element-1">
            <nav>
                <ul class="nav">
                    <il>
                        <img src="../img/01_nav.png" alt="alegrije">
                        <a href="/components/derecho.html">Derecho, Ciencias Políticas y Sociales</a>
                    </il>
                    <il>
                        <img src="../img/02_nav.png" alt="alegrije">
                        <a href="/components/educacion.html">Ciencias de la Educación</a>
                    </il>
                    <il>
                        <img src="../img/03_nav.png" alt="alegrije">
                        <a href="/components/ingenieria.html">Arquitectura e Ingenierías</a>
                    </il>
                    <il>
                        <img src="../img/04_nav.png" alt="alegrije">
                        <a href="/components/economia.html">Ciencias Económicas y Empresariales</a>
                    </il>
                    <il>
                        <img src="../img/05_nav.png" alt="alegrije">
                        <a href="/components/literatura.html">Literatura</a>
                    </il>
                </ul>
            </nav>
        </section>
</body>
