.body-ago {
    background-color: #fff;
    padding-bottom: 20px;
}

.nav-elements {
    margin: 3% 4%;
    align-items: center;

}
.nav-elements_agosto {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}


.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--background-lila);
}
.title-categoria {
    text-align: center;
    color: var(--background-lila);
    border-bottom: 1px solid;
    padding-bottom: 15px;
}

.nav il {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
    border: 1px solid var(--background-negro);
    border-radius: 35px;
    padding: 0 12px;
    text-align: left;
    margin-top: 2%;
    text-align: center;
    font-weight: bold;
    font-family: var(--letra);
}

.nav a {
    display: flex;
    align-items: center;
    color: var(--background-negro);
    font-size: 15px;
}

.nav img {
    width: 40px;
    height: 40px;
    padding-right: 20px;
}

.nav il:hover {
    transition: 0.2s;
    cursor: pointer;
}

.nav-derecho:hover {
    transition: 0.1s;
    border: 3px solid var(--color-f-derecho);
}

.nav-educacion:hover {
    transition: 0.1s;
    border: 3px solid var(--color-f-educacion);
}

.nav-arquitectura:hover {
    transition: 0.1s;
    border: 3px solid var(--color-f-arquitectura);

}

.nav-economia:hover {
    transition: 0.1s;
    border: 3px solid var(--color-f-economia);
}

.nav-literatura:hover {
    transition: 0.1s;
    border: 3px solid var(--background-lila);
}

.header-banner {
    display: flex;
    justify-content: center;
}

.header-elements-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:#f7f7f7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
}

.header-banner img {
    width: 20%;
}

.header-banner-section img {
    width: 100px;
}

.menu-img:hover {
    transition: 0.1s;
    background-color: #fff;
    padding: 2px;
    border-radius: 100px;
}

.header-title-section {
    color: var(--background-negro);
}

@media screen and (max-width: 600px) {
    .header-banner img {
        transition: 1s;
        width: 40%;
    }
}