html {
    --s: 88px;
    /* control the size */

    --c: #fffdfd;
    --_g: conic-gradient(var(--c) 25%, #0000 0) 0 0;
    background:
        var(--_g)/calc(2*var(--s)) calc(var(--s)/9.5),
        var(--_g)/calc(var(--s)/9.5) calc(2*var(--s)),
        repeating-conic-gradient(#0000 0 25%, var(--c) 0 50%) var(--s) 0 /calc(2*var(--s)) calc(2*var(--s)),
        radial-gradient(50% 50%, #48726baf 98%, var(--c)) 0 0/var(--s) var(--s);
}

html, body, main {
    height: 100%;
    position: relative;
    display: flex;  
    justify-content: center;
    align-items: center; 
}

.nav-elements {
    margin: 3% 4%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 25px;
    padding: 20px;
    border-radius: 50px;
    background-color: #fffffff5;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.295);
}

.title-categoria {
    text-align: center;
    color: #fff;
    background-color: #48726b;
    padding: 10px;
    border-radius: 100px;
    box-shadow: 0 5px 15px rgb(0, 0, 0, .3)
}

.nav il {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 55px;
    background-color: #48726b;
    border-radius: 35px;
    padding: 0 12px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    font-family: var(--letra);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.nav a {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 15px;
}

.nav img {
    width: 40px;
    height: 40px;
    padding-right: 20px;
}

.nav il:hover {
    transition: 0.2s;
    cursor: pointer;
}

.nav-derecho:hover {
    transition: 0.1s;
    background-color: var(--color-f-derecho);
}

.nav-educacion:hover {
    transition: 0.1s;
    background-color: var(--color-f-educacion);
}

.nav-arquitectura:hover {
    transition: 0.1s;
    background-color: var(--color-f-arquitectura);

}

.nav-economia:hover {
    transition: 0.1s;
    background-color: var(--color-f-economia);
}

.nav-literatura:hover {
    transition: 0.1s;
    background-color: var(--background-lila);
}

.header-banner-a {
    display: flex;
    justify-content: center;
}

.header-banner-a img {
    object-fit: cover;
    border-radius: 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.11);
    width: 70%;
    height: 350px;
}

.header-elements-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(../img/cabecera.png);
    filter: blur(0.3px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    border-bottom: 2px solid #9fbe37;
}

.header-banner-section img {
    width: 100px;
}

.menu-img {
    background-color: #fff;
    padding: 2px;
    border-radius: 100px;
}

.menu-img:hover {
    transition: 0.1s;
    border: 4px solid #48726b;
}

.header-title-section {
    color: var(--background-blanco);
    text-transform: uppercase;
    background: linear-gradient(0deg, transparent 0%, #000000 46%, #000000 51%, #000000 57%, transparent 100%);
    font-family: var(--letra);
}


@media screen and (max-width: 880px) {
    .header-banner-a img {
        transition: 0.8s;
        width: 100%;
        height: 200px;
    }
}