.all-books {
    padding-top: 150px;
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.all-books div {
    margin: 1% 0;
}

.books {
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E8E9EC;
    border-radius: 30px 70px 70px 30px;
    border: 5px double var(--background-blanco);
    gap: 10px;
}



.books:hover {
    border: 5px double var(--background-lila, 0.1);
}

#books-derecho:hover {
    border: 5px double var(--color-f-derecho, 0.1);
}

#books-educacion:hover {
    border: 5px double var(--color-f-educacion, 0.1);
}

#books-arquitectura:hover {
    border: 5px double var(--color-f-arquitectura, 0.1);
}

#books-economia:hover {
    border: 5px double var(--color-f-economia, 0.1);
}

.books img {
    width: 40%;
    height: 300px;
    margin: 10px;
    border-radius: 20px;
    object-fit: cover;
}

.books-details {
    width: 60%;
    padding: 20px;
    box-sizing: border-box;
}


.books-details h2 {
    font-size: 30px;
    font-family: var(--letra);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    box-sizing: border-box;
}

.books-details h2:hover {
    transition: 0.8s;
    display: block;
}


.books-details h3 {
    font-size: 20px;
    font-family: var(--letra);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    box-sizing: border-box;
}

.books-details h3:hover {
    transition: 0.8s;
    display: block;
}

.books-details p {
    font-size: 15px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    overflow: hidden;
    box-sizing: border-box;
}

.books-details p:hover {
    transition: 1s;
    display: block;
}

.button-acceso {
    text-decoration: none;
    list-style-type: none;
    width: 100px;
    padding: 5px;
    text-align: center;
    border: 1px solid var(--background-negro);
    border-radius: 5px;
    font-size: 12px;
    margin-top: 25px;
}

.button-acceso a {
    color: var(--background-negro);
    font-weight: bolder;
}

.button-acceso:hover {
    background-color: var(--background-lila);
}

#button-acceso-derecho:hover {
    background-color: var(--color-f-derecho);
}

#button-acceso-educacion:hover {
    background-color: var(--color-f-educacion);
}

#button-acceso-arquitectura:hover {
    background-color: var(--color-f-arquitectura);
}

#button-acceso-economia:hover {
    background-color: var(--color-f-economia);
}

.button-acceso:hover a {
    color: var(--background-blanco);
    font-weight: 400;
}


@keyframes aparecer {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.all-books[data-novedades] {
    animation: aparecer 1.5s ease-out;
}




@media screen and (max-width: 530px) {
    .all-books {
        margin: 3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .all-books div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .books {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 230px;
        border-radius: 30px;
        height: 100%;
    }

    .books-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .books img {
        width: 100%;
        margin: 0;
        padding: 0;
        display: initial;
    }

    .books-details h2 {
        font-size: 16px;
        margin-top: 10px;
    }

    .books-details h3 {
        font-size: 14px;
    }

    .books-details p {
        font-size: 12px;
        margin: 0 20px;
    }

    .button-acceso {
        font-size: 12px;
        margin: 20px;
    }
}


@media screen and (max-width: 400px) {

    .books-details h2 {
        font-size: 14px;
        margin-top: 10px;
    }

    .books-details h3 {
        font-size: 14px;
    }

    .books-details p {
        display: none;
    }

    .button-acceso {
        font-size: 8px;
    }
}